*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --fs-xl: clamp(3rem, 8vw, 7rem);
    --fs-lg: clamp(2rem, 5vw, 5rem);
    --fs-md: clamp(1.5rem, 3vw, 3rem);

    --section-padding-y: clamp(80px, 8vw, 150px);
    --section-padding-x: clamp(20px, 6vw, 10%);
}   

::-webkit-scrollbar {
    display: none;
}

body{
    font-family:'Inter',sans-serif;
    background:#000;
    color:white;
    font-family:Arial, sans-serif;
    overflow-x:hidden;
    
    width:100%;
}
html{
    scroll-behavior:smooth;
    scroll-padding-top:100px;
    overflow-x:hidden;
    width:100%;
}
.loader{
    position:fixed;
    inset:0;

    background:#000;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:99999;
}

.loader img{
    width:120px;
    transform:scale(1);
}
.loader{
    position:fixed;
    inset:0;

    background:#000;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    z-index:99999;
}
.loader::before{
    content:"";

    position:absolute;

    width:250px;
    height:250px;

    background:#ff2800;

    border-radius:50%;

    filter:blur(100px);

    opacity:.15;
}



@keyframes pulse{

    0%{
        opacity:.3;
        transform:scale(.95);
    }

    50%{
        opacity:1;
        transform:scale(1);
    }

    100%{
        opacity:.3;
        transform:scale(.95);
    }

}


.hero{
    min-height:100svh;
    position:relative;
    overflow:hidden;
}
.hero-content button{
    transition:all .3s ease;
}

.hero-content button:hover{
    transform:translateY(-4px);
    box-shadow:0 0 30px rgba(255,40,0,.4);
}
.bg-video{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:-2;
}
.overlay{
    position:absolute;
    inset:0;

    background:rgba(0,0,0,0.65);

    z-index:-1;
}

.menu-toggle{
    display:none;

    font-size:2rem;

    cursor:pointer;

    color:white;
}

@media(max-width:768px){

    .menu-toggle{
        display:block;
         position:relative;

    z-index:1001;
    }

    .nav-links{

     position:fixed;

    inset:0;

    background:#000;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:40px;

    opacity:0;
    visibility:hidden;

    transform:translateY(-30px);

    transition:.4s ease;

    z-index:999;
}

.nav-links li a{

    font-size:2rem;

    font-weight:600;

    text-decoration:none;

    color:white;

    transition:.3s;
}

.nav-links li a:hover{
    color:#ff2800;
}

    .nav-links.active{
       opacity:1;
    visibility:visible;

    transform:translateY(0);
    }

    nav ul li{
        font-size:1.2rem;
    }

}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 42px;
    
}
.logo img{
    width:44px;
    height:auto;
}

nav ul{
    display:flex;
    gap:50px;
    list-style:none;
}
nav ul li{
    font-size:16px;
    font-weight:400;
    color:#fff;
    cursor:pointer;
    transition:.3s;
}nav ul li:hover{
    color:#ff2800;
}
nav ul li{
    position:relative;
}

nav ul li::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;

    width:0;
    height:2px;

    background:#ff2800;

    transition:.3s;
}

nav ul li:hover::after{
    width:100%;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#ff2800;
}

.logo{
    color:#ff2800;
    font-size:28px;
    font-weight:bold;
    
}

.hero-content{
    position:absolute;
    top:50%;
    left:8%;
    transform:translateY(-50%);
}

.hero-content h1{
    font-size:var(--fs-xl);
    line-height:.95;
    max-width:700px;
}

.hero-content p{
    margin-top:20px;
    width:min(500px,100%);
    color:#ccc;
}

.hero-content button{
    margin-top:30px;
    background:#ff2800;
    color:white;
    border:none;
    padding:15px 30px;
    cursor:pointer;
}

.hero-car{
    position:absolute;
    right:0;
    bottom:50px;
    width:900px;
}
.purosangue{
   min-height:100svh;
    background:#050505;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:var(--section-padding-y) var(--section-padding-x);
}

.car-name{
    color:#ff2800;
    letter-spacing:5px;
}

.purosangue h2{
   font-size:var(--fs-lg);
    line-height:1.05;
    max-width:1200px;
    margin:30px 0 80px;
}

.purosangue img{
    width:100%;
    max-width:1400px;
    display:block;
}
.image-wrapper{
    width:90%;
    max-width:1400px;
    margin:auto;
}


.car-image{
    width:100%;
    display:block;

    clip-path: inset(0 100% 0 0);

    transform:translateX(-40px);
}
.purosangue{
    min-height:120vh;
}
.stats{
    min-height:100svh;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:clamp(40px,6vw,120px);

    padding:var(--section-padding-y) var(--section-padding-x);

    background:#000;
}

.stat{
    border-top:1px solid rgba(255,255,255,.1);

    padding-top:40px;
}

.stat h3{
    font-size:clamp(3rem,10vw,7rem);
    font-weight:700;
    line-height:1;
}

.stat span{
    color:#ff2800;

    font-size:1.1rem;

    letter-spacing:3px;
}

.stat p{
    margin-top:20px;

    color:#777;

    font-size:.9rem;

    text-transform:uppercase;

    letter-spacing:2px;
}
.stats-header{
    grid-column:1 / -1;

    margin-bottom:50px;
}

.stats-header span{
    color:#ff2800;
    letter-spacing:4px;
}

.stats-header h2{
    font-size:var(--fs-lg);
    margin-top:20px;
}
.cinematic{
    min-height:100svh;
    position:relative;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
}

.cinematic-image{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    filter:brightness(.45);
}

.cinematic-content{
    position:relative;
    z-index:10;

    text-align:center;
}

.cinematic-content span{
    color:#ff2800;
    letter-spacing:4px;
}

.cinematic-content h2{
    font-size:var(--fs-xl);
    margin-top:20px;
}


.interior{
    min-height:100svh;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    align-items:center;

    gap:clamp(40px,6vw,100px);

    padding:var(--section-padding-y) var(--section-padding-x);

    background:#050505;
}

.interior-left span{
    color:#ff2800;
    letter-spacing:4px;
}

.interior-left h2{
    font-size:var(--fs-lg);
    margin:20px 0;
}

.interior-left p{
    color:#999;
    line-height:1.8;
}

.interior-right{
    overflow:hidden;
}

.interior-right img{
    width:100%;
    display:block;
}

.interior-right img{
    clip-path: inset(0 50% 0 50%);
}


.engine-showcase{
    min-height:100svh;
    background:#050505;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:120px 10%;

    position:relative;
    overflow:hidden;
}

.engine-content{
    position:relative;
    z-index:5;
}

.engine-content span{
    color:#ff2800;
    letter-spacing:4px;
    font-size:.9rem;
    text-transform:uppercase;
}

.engine-content h2{
    font-size:var(--fs-lg);
    line-height:1;
    margin:25px 0;
}

.engine-content p{
    color:#999;
    max-width:700px;
    margin:auto;
    line-height:1.8;
}

.engine-wrapper{
    position:relative;

    width:min(90%,850px);
    max-width:850px;

    margin-top:80px;

    overflow:hidden;

    z-index:5;
    
}

.engine-image{
    width:70%; 
    /* well see this one out */
    display:block;

    margin:0 auto;

    filter:brightness(.15);
}

.light-sweep{
    position:absolute;

    top:0;
    left:-150%;

    width:50%;
    height:100%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,40,0,.8),
        transparent
    );

    transform:skewX(-20deg);

    z-index:10;
}

.engine-showcase::before{
    content:"";

    position:absolute;

    width:700px;
    height:700px;

    background:#ff2800;

    border-radius:50%;

    filter:blur(250px);

    opacity:.08;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);
}

.gallery{
    background:#000;

    padding:120px 0;
}

.gallery-item{
    overflow:hidden;

    margin-bottom:40px;
}

.gallery-item img{
    width:100%;
    height:80vh;

    object-fit:cover;

    display:block;
}
.gallery-item{
    position:relative;
}

.gallery-item::after{
    content:"";

    position:absolute;
    bottom:0;
    left:0;

    width:100%;
    height:200px;

    background:linear-gradient(
        transparent,
        #000
    );
}

.gallery{
    position:relative;
}

.gallery-title{
    position:sticky;

    top:35%;

    z-index:20;

    pointer-events:none;

    text-align:center;
}

.gallery-title h2{
    font-size:clamp(2rem,8vw,7rem);

    font-weight:500;

    letter-spacing:4px;

    line-height:.95;

    text-transform:uppercase;

    color:rgba(255,255,255,.9);

    text-shadow:
    0 0 20px rgba(0,0,0,.5);
}


.final-cta{
    min-height:100svh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    background:#000;

    padding:120px 20px;
}

.final-tag{
    color:#ff2800;

    letter-spacing:5px;

    font-size:.9rem;
}

.final-cta h2{
    font-size:var(--fs-xl);

    line-height:.95;

    margin:25px 0;
}

.final-cta p{
    color:#888;

    font-size:1.1rem;

    margin-bottom:50px;
}

.cta-btn{
    text-decoration:none;

    color:white;

    border:1px solid rgba(255,255,255,.25);

    padding:18px 40px;

    transition:.4s;
}

.cta-btn:hover{
    background:#ff2800;

    border-color:#ff2800;

    transform:translateY(-5px);
}

.footer-contact{
    display:flex;

    gap:50px;

    margin-top:80px;
}

.footer-contact a{
    text-decoration:none;

    color:#777;

    transition:.3s;
}

.footer-contact a:hover{
    color:#ff2800;
}

.copyright{
    margin-top:80px;

    color:#444;

    letter-spacing:3px;

    font-size:.85rem;
}







/* ======================
   MOBILE DEVICES
====================== */

/* =====================================
   MOBILE RESPONSIVE
===================================== */

@media screen and (max-width:768px){

    /* NAV */

    

    nav{
        padding:20px;
        flex-wrap:wrap;
        gap:20px;
    }

    nav ul{
        gap:18px;
        width:100%;
        justify-content:center;
    }

    nav ul li{
        font-size:13px;
    }

    .logo img{
        width:32px;
    }

    /* HERO */

    .hero-content{
        left:20px;
        right:20px;
        width:auto;
    }

    .hero-content h1{
        font-size:3rem;
    }

    .hero-content p{
        width:100%;
        font-size:14px;
    }

    /* PUROSANGUE */

    .purosangue{
        padding:80px 20px;
    }

    .purosangue h2{
        font-size:2.4rem;
    }

    .image-wrapper{
        width:100%;
    }

    .car-image{
        transform:none;
    }

    /* STATS */

    .stats{
        grid-template-columns:1fr;
        gap:60px;
        padding:100px 20px;
    }

    .stats-header h2{
        font-size:2.5rem;
    }

    .stat h3{
        font-size:4rem;
    }

    /* CINEMATIC */

    .cinematic-content h2{
        font-size:2.5rem;
    }

    /* INTERIOR */

    .interior{
        grid-template-columns:1fr;
        gap:50px;
        padding:80px 20px;
    }

    .interior-left h2{
        font-size:2.5rem;
    }

    /* ENGINE */

    .engine-showcase{
        padding:100px 20px;
    }

    .engine-content h2{
        font-size:2.5rem;
    }

    .engine-wrapper{
        width:100%;
    }

    /* GALLERY */

    .gallery-title h2{
        font-size:3rem;
    }

    /* FINAL CTA */

    .final-cta h2{
        font-size:2.8rem;
    }

    .footer-contact{
        flex-direction:column;
        gap:20px;
    }

}